html, body, 
#main-container, 
#main-container .row-fluid, 
#main-container .row-fluid #sidebar
{ 
  height:100%
}
#choices {height:30px; width:100%;}
#map {height:90%; width:100%;}

text 
{
  font: 10px sans-serif;
}
.input-append .btn.dropdown-toggle{
    float: none;
}

.row-fluid div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}



